<div id="id01">
    <div class="w3-modal-content w3-card-4 w3-display-middle" style="max-width:600px">

        <div class="w3-center">
            <br>
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
            <i class='w3-circle w3-margin-top w3-jumbo material-icons-outlined'>work</i>
        </div>

        <form class="w3-container" action="/company/update" method="post">
            <div class="w3-section">
                <input name="id" type="hidden" value="##Id##" />

                <label><b>Firmenname</b></label>
                <input name="name" type="text" class="w3-input w3-border w3-margin-bottom" placeholder="Firmennamen eingeben" value="##Name##">

                <label><b>Adresse</b></label>
                <input name="address" type="text" class="w3-input w3-border w3-margin-bottom" placeholder="Adresse eingeben" value="##Address##">

                <label><b>Ort</b></label>
                <input name="city" type="text" class="w3-input w3-border w3-margin-bottom" placeholder="PLZ und Ort" value="##City##">

                <div class="w3-row">
                    <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-red w3-section w3-padding w3-margin-right w3-col w3-quarter">Verwerfen</button>
                    ##NewCompany##
                    <button class="w3-button w3-block w3-teal w3-section w3-padding w3-margin-left w3-col w3-quarter w3-right" type="submit">Speichern</button>
                </div>
            </div>
        </form>
    </div>
</div>
